<div class="container">
    <div class="row">
        <app-formulario-compras (productoCreado)="onProductoCreado($event)"></app-formulario-compras>
    </div>


    <div class="row listas">
        <div class="izquierda">
            <app-lista-productos-compras [productos]="listaProductos" (productoSeleccionado)="onProductosSeleccionados($event)" textoBoton="COPRAR"></app-lista-productos-compras>
        </div>
        <div class="derecha">
            <app-lista-productos-compras [productos]="listaProductosComprados" (productoSeleccionado)="onProductosNoSeleccionado($event)" textoBoton="QUITAR"></app-lista-productos-compras>
        </div>
    </div>
</div>