
<!--
<h1>Todos los ejemplos</h1>
<h2>Video20, 21, 22, 23: Interpolacion de variables y metodos, propiedad y evento binding</h2>
<app-interpolacionvariables></app-interpolacionvariables>
<h2>Video24 componente sumar</h2>
<app-sumar></app-sumar>

<h2>Video26 componente cronometro</h2>
<app-cronometro></app-cronometro>

<h2>Video28 evento de captacion de datos</h2>
<app-event-captacion-datos></app-event-captacion-datos>
<app-eventmouse></app-eventmouse>

<h2>Video29 eventos relacionados con el mouse</h2>
<app-eventmouse></app-eventmouse>


<h2>Video31 Calculadora </h2>
<app-calculadora></app-calculadora>

<h2>Video33 Decorador Input </h2>
<app-decoradorinputpadre></app-decoradorinputpadre>

<h2>Video37 Decorador output </h2>
<app-decoradorr-output></app-decoradorr-output>

<h2>Video38 Ejemplo con el ejercicio del cronometro input y output en los 3 primeros componentes del padre</h2>
<app-cronometro-padre></app-cronometro-padre>

<h2>Video41 Doble enlace con Objetos</h2>
<app-enlace-objetospadre></app-enlace-objetospadre>

<h2>Video42 Lista de tareas</h2>
<app-listadetareas-padre></app-listadetareas-padre>

<h2>Video solucion ejercicio lista de tareas</h2>
<app-papa></app-papa>

<h2>Video45 vida de un componente</h2>
<app-padre></app-padre>

<h2>Video48 Directivas - directiva ngStyle</h2>
<app-padre-directiva></app-padre-directiva>

<h2>Video53 ngTemplate</h2>
<app-ngtemplate></app-ngtemplate>

<h2>Video55 ngTemplate for</h2>
<app-ngtemplatefor></app-ngtemplatefor>

<h2>Video57 ngSwich</h2>
<app-swich></app-swich>


<h2>Video58 toDo vamos a utilizar todas las herramientas vistas</h2>
<app-to-do></app-to-do>

<h2>Video61 caja registradora, Repaso de todo lo visto anteriormente</h2>
<app-caja-registradora></app-caja-registradora>
-->

<h2>Video68 lista de productos, Repaso de todo lo anterior</h2>
<app-compras-pa-pa></app-compras-pa-pa>

<router-outlet></router-outlet>